<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Nerdbank.GitVersioning" version="1.1.61-rc" targetFramework="portable45-net45+win8" developmentDependency="true" />
  <package id="Nuproj.Common" version="0.10.27-beta-g2363d7cd98" targetFramework="portable45-net45+win8" developmentDependency="true" />
  <package id="ReadOnlySourceTree" version="0.1.1-beta-g205ea30453" targetFramework="portable45-net45+win8" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.0.0-rc2" targetFramework="portable45-net45+win8" developmentDependency="true" />
</packages>